.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.switch-on.btn.btn-success {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.switch-off.btn.btn-danger {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.switch-handle.btn.btn-light {
  background-color: gray;
}
