.App {
  color: antiquewhite;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.switch-on.btn.btn-success {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.switch-off.btn.btn-danger {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.switch-handle.btn.btn-light {
  background-color: gray;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
